.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .publicacaoContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .publicationDiv{
            display: flex;
            flex-direction: column;
            gap: .3rem;
            cursor: pointer;

            .divUrl{
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
               
                background: var(--farvalle-orange);
                color: white;
                font-weight: 500;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                animation: surgir .3s ease-out;
                transition: .2s;

                &:hover{
                    background: var(--farvalle-orange-hover);
                }
                a{
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                }
            }
        }
        .publicacao{
            width: 300px;
            height: 150px;
            background: #ececec;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 8px;
            border: 1px solid var(--farvalle-orange);
            cursor: pointer;
        }
    }
    
}

@keyframes surgir{
    0%{
        transform: translateY(-20px ) scaleY(.8);
    }
    100%{
        transform: translateY(0) scaleY(1);
    }
}

@media(max-width: 350px){
    .container{

        .publicacaoContainer{

            .publicationDiv{

                .divUrl{
                    width: 256px;
                }
                .publicacao{
                    width: 256px;
                }
}
}
}
}