.nav{
    height: 100vh;
    background: rgb(211, 211, 211, .98);
    //background: white;
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--font-montserrat);
    font-weight: 400;
    animation: abrirMenu .3s linear;
    padding: 1rem;
    z-index: 1;
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        .toggleContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .toggleMenu{
                cursor: pointer;
                background: none;
                border: solid 1px var(--farvalle-green);
                border-radius: 4px;
                
                color: var(--farvalle-green);
                margin-right: 10px;
            }
            .logoContainer{
                width: 200px;
                height: 32px;
                .logo{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
                .logoIcon{
                    display: none;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        .ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: flex-end;
            gap: 1rem;
            border: none;
            background: none;
            width: 100%;
            .link{
                transition: .2s;
                color: black;
                font-size: 14px;
                &:hover{
                    color: var(--farvalle-orange)
                }
            }
            .linkShow{
                transition: .2s;
                color: black;
                font-size: 14px;
                &:hover{
                    color: var(--farvalle-orange)
                }
            }
            .linkSystem{
                background: white;
                padding: 8px 24px;
                border-radius: 8px;
                transition: .2s;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: .3rem;
                color: #000;
                &:hover{
                    background: #ececec;
                }
            }
            .linkSignUp{
                display: flex;
                background: var(--farvalle-green);
                padding: 12px 24px;
                border-radius: 8px;
                color: white;
                transition: .2s;
                font-size: 14px;
                &:hover{
                    background: var(--farvalle-green-hover);
                }
            }
            .dropDownButton{
                display: flex;
                flex-direction: column;
                font-size: 1rem;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 14px;
                width: 100%;
                color: #000;
                &:hover{
                    color: var(--farvalle-orange);
                }
                .dropDownMenu{
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    background: #efefef;
                    margin-top: 12px;
                    border-radius: 4px;
                    font-size: 1rem;
                    font-size: 14px;
                    z-index: 1;
                    .dropDownItem{
                   
                        padding: 16px 24px;
                        cursor: pointer;
                        display: block;
                        color: black;
                        text-align: start;
                        border-radius: 4px;
                        &:hover{
                            background: #e0e0e0;
                            flex: 1;
                        }
                    }
                }
                .dropDownMenuOff{
                    display: none;
                    position: absolute;
                    list-style: none;
                    flex-direction: column;
                    background: #efefef;
                    margin-top: 4px;
                    border-radius: 4px;
                    font-size: 1rem;
                    .dropDownItem{
                        padding: 16px 24px;
                        cursor: pointer;
                        display: block;
                        border-radius: 4px;
                        &:hover{
                            background: #e0e0e0;
                            flex: 1;
                        }
                    }
                }
            }
            .dropDownButtonShow{
                display: flex;
            }
            .menuLinkHr{
                display: flex;
                flex-direction: column;
                hr{
                    
                    border: solid .3px rgb(162, 162, 162);
                }
            }
        }
    }
}

@keyframes abrirMenu {
    0% {
        width: 20%;
    }
    100%{
        width: 100%;
    }
}
